.red {
    width: 32px;
    height: 32px;
    background-color: red;
    border-radius:999px;
}
.blue {
    width: 32px;
    height: 32px;
    background-color: blue;
    border-radius:999px;
}
.green {
    width: 32px;
    height: 32px;
    background-color: green;
    border-radius:999px;
}
.yellow {
    width: 32px;
    height: 32px;
    background-color: yellow;
    border-radius:999px;
}
.teal {
    width: 32px;
    height: 32px;
    background-color: teal;
    border-radius:999px;
}

.sale{
    @apply bg-Critical
}
.new {
    @apply bg-Primary !text-On-Surface
}